<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieApp</title>
</head>
<body>
<h1>Welcome to the Movie Review App!</h1>
<h2>Lists of available URLs</h2>
<p>
<ul>
    <li>"uuid:movie_id"</li>
    <li>"uuid:movie_id"/create</li>
    <li>movies/</li>
    <li>movie/"uuid:pk"/detail</li>
    <li>movie/create/</li>
    <li>movie/"uuid:pk"/update/</li>
    <li>movie/"uuid:pk"/delete/</li>
    <li>home/</li>
    <li>review/"int:review_id"</li>
    <li>review/"int:review_id"/delete</li>
    <li>accounts/signupaccount/</li>
    <li>accounts/login/</li>
    <li>accounts/logout/</li>
</ul>
</p>
</body>
</html>